version: '3.8'
services:
  rabbitmq:
    image: rabbitmq:4.1-management
    container_name: rabbitmq
    ports:
      - "1883:1883"     # MQTT
      - "15672:15672"   # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: "admin"
      RABBITMQ_DEFAULT_PASS: "admin"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:v3.8.0
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: "admin"
      GF_SECURITY_ADMIN_PASSWORD: "admin"
    volumes:
      - grafana_data:/var/lib/grafana
    restart: unless-stopped

  rabbitmq-exporter:
    image: kbudde/rabbitmq-exporter:1.34.2
    container_name: rabbitmq-exporter
    environment:
      RABBITMQ_USER: "admin"
      RABBITMQ_PASSWORD: "admin"
      RABBITMQ_URL: "http://rabbitmq:15672"
    ports:
      - "15692:9419" # mapping container port 9419 to host port 15692
    restart: unless-stopped

volumes:
  rabbitmq_data:
  grafana_data:
